@import 'variables';

h3 {
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 25px 0 ;
  color: $very_darkblue;
}
h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 25px 0 ;
  color: $very_darkblue;
}
button {
  margin: 20px 20px 20px 0;
  padding: 0 30px;
  &:hover {
    background: #fff;
  }
}
.mat-raised-button {
  -webkit-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.37);
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.37) !important;
}
button.mat-raised-button.mat-button-base.mat-primary {
  border: 1px solid $soft_blue;
  color: #fff;
  transition: all 400ms;
  &:hover {
    border: 1px solid $soft_blue;
    color: $soft_blue;
  }
}
button.mat-raised-button.mat-button-base {
  border: 1px solid transparent;
  color: $very_darkblue;
  transition: all 400ms;
  &:hover {
    border: 1px solid $very_darkblue;
    color: $very_darkblue;
  }
}
.header-section {
  position: relative;
  height: 520px;
  @media only screen and (max-width: 769px) {
    height: 750px;
    text-align: center;
  }
  .hero-content {
    margin-top: 70px;
    @media only screen and (max-width: 769px) {
      top: 415px;
    }
    @media only screen and (max-width: 669px) {
      top: 385px;
    }
    @media only screen and (max-width: 569px) {
      top: 315px;
    }
    @media only screen and (max-width: 469px) {
      top: 281px;
    }
  }
}
.image-layout-right {
  position: absolute;
  margin-bottom: 50px;
  width: 50%;
  top: 0;
  right: 0;
  @media only screen and (max-width: 769px) {
    width: 80%;
    right: 12%;
  }
  &::after {
    content: "";
    background-color: $soft_blue;
    width: 70%;
    height: 69%;
    position: absolute;
    top: 34%;
    right: 0px;
    z-index: -100;
    border-radius: 0 0 0 132px;;
  }
}
.features {
  margin-top:70px;
}
.download {
  .content {
    @media only screen and (max-width: 769px) {
      text-align: center;
    }
  }
}
.download-card {
  .download-img {
    margin: 35px auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .dot-img {
    width: 108%;
    left: -12px;
    position: relative;
  }
}
.faqs {
  margin: 60px 0 30px;
}
.questions {
  .content {
    @media only screen and (max-width: 769px) {
      text-align: center;
    }
  }
}
.join-us {
  margin-top: 80px;
  padding: 50px 0;
  background-color: $soft_blue;
  color: #fff;
  h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 4px;
  }
  h4 {
    color: #fff;
  } 
  .mat-flat-button {
    margin: 0 0 0 30px;
    color: #fff;
    padding: 0 18px;
    border: 1px solid #f95656;
    transition: all 600ms;
    &:hover {
      border: 1px solid #f95656;
      color: #f95656;
    }
    @media only screen and (max-width: 769px) {
      width: 100%;
      margin: 20px 0;
    }
  }
  input {
    border-radius: 5px;
    border: 1px solid #5368df;
    padding: 5px 4px 5px 8px;
    margin-top: 1px;
    width: 100%;
    z-index: 3;
    position: relative;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    //margin-right: -5px;
    //margin-left: -5px;
    margin: 0 30px 0 50px;
    /* position: relative; */
  }
  .button {
    &:hover {
      //background: red;
      border: 1px solid red;
    }
  }
  .was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("./../../../assets/icons/exclamation-mark-svgrepo-com.svg");
    border: 1px solid red;
}
}
